.App {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 10% repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.HeaderArea {
    grid-area: 1 / 1 / 2 / 3;
    place-self: center;
}

.InputFormArea {
    grid-area: 2 / 2 / 3 / 3;
}

.ResultArea {
    grid-area: 3 / 2 / 4 / 3;
}

.GraphArea {
    grid-area: 4 / 2 / 5 / 3;
}