.App {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 10% 1fr;
}

.HeaderArea {
    grid-area: 1 / 1 / 2 / 3;
    place-self: center;
}

.InputFormArea {
    grid-area: 2 / 2 / 3 / 3;
}